@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Quicksand:wght@300..700&display=swap');
:root {
    --primary-color: #1A473E;
    --accent-color: #D88134;
    --bg-color: #FAF3EB;
    --text-color: #333333;
    --light-accent: #F5EFE6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    box-sizing: border-box;
}

.corner {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    z-index: 9999;
    transform: rotate(45deg);
}

.corner-top-left {
    top: -25px;
    left: -25px;

}

.corner-top-right {
    top: -25px;
    right: -25px;
}

.corner-bottom-left {
    bottom: -25px;
    left: -25px;
}

.corner-bottom-right {
    bottom: -25px;
    right: -25px;

}
.mega-border{
    border: 12px solid var(--accent-color);
    border-radius: 40px;
    box-sizing: border-box;
    z-index: 100;
    height: 100vh;
    width:100vw;
    position: fixed;
    pointer-events: none;
}

header {
    padding: 2rem 0;
    text-align: center;
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 250px;
    margin-bottom: 1rem;
}

/* .bubble {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--accent-color);
    margin: 0 5px;
    opacity: 0.8;
    animation: bubble 4s infinite ease-in-out;
    position: relative;
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem;
}
.join-section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-bottom: 3em;
}

section {
    padding: 4rem 0;
}

h1 {
    color: var(--primary-color);
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.highlight {
    color: var(--accent-color);
    font-weight: bold;
}

.mission-statement {
    font-size: 1.4rem;
    font-weight: 300;
    /* font-style: italic; */
    text-align: center;
    margin: 1.5rem 0;
    color: var(--primary-color);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 3rem 0;
}

.feature-card {
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 2rem;
    transition: transform 0.3s ease;
    background-color: transparent;
}

.feature-card:hover {
    transform: translateY(-5px);
    background-color: rgba(205, 140, 42, 0.05);
}

.feature-card h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.app-promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--light-accent);
    border-radius: 10px;
    padding: 3rem;
    margin: 3rem 0;
}

.app-logo {
    width: 150px;
    height: 150px;
    background-color: var(--accent-color);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.cta-button {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    margin-top: 1.5rem;
}

.cta-button:hover {
    background-color: #c67328;
}

footer {
    color: var(--text-color);
    /* text-align: center; */
    padding: 3rem 0;
    margin-top: 5rem;
    border-top: 1px solid #ddd;
}
.copyright{
    font-size: 1rem;
    opacity: 0.5;
}

.contact-info {
    margin-top: 1rem;
}

.social-links {
    margin-top: 1.5rem;
}

.social-links a {
    color: var(--primary-color);
    margin: 0 10px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.7rem;
    }
    
    .mission {
        padding: 2rem;
    }
    
    .mission p {
        font-size: 1.1rem;
    }
    
    .features {
        grid-template-columns: 1fr;
    }
}


/* 

BULLES 

*/


.logo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    min-height: 150px; /* Espace pour les bulles */
}

/* Style principal des bulles, inspiré directement du CodePen */
.bubble {
    position: absolute;
    border-radius: 50%;
    background-color: transparent; /* Couleur d'accent avec transparence */
    top: 53%;
    opacity: 0;
    animation: bubbles 12s ease-in infinite;
    border: 2px solid var(--accent-color);
}
  .small{
    width: 10px;
    height: 10px;
    left: 50%;
    animation: flow-s 2s linear infinite;
  }
  .small-l{
    width: 10px;
    height: 10px;
    left: 43%;
    animation: flow-s-l 3.9s linear infinite;
  }
  .s-medium{
    width: 20px;
    height: 20px;
    left: 43%;
    animation: flow-s 2.3s linear infinite;
  }
  .medium{
    width: 25px;
    height: 25px;
    left: 45%;
    animation: flow-m 2.8s linear infinite;
  }
  .large{
    width:5px;
    height: 5px;
    left: 57%;
    animation: flow-l 2.7s linear infinite;
  }
  
  @keyframes flow-l {
    0% {
      top: 53%;
      left: 57%;
      opacity:0;
    }
    25%{
      top: 49%;
      left: 57.5%;
      opacity: 1;
    }
    50%{
      left: 58%;
      opacity: 1;
    }
    75%{
      left: 57.5%;
      opacity: 1;
    }
    100% {
      top: 32%;
      left: 57%;
      opacity: 0;
    }
  }
  
  @keyframes flow-s {
    0% {
      top: 53%;
      left: 50%;
      opacity:0;
    }
    25%{
      top: 49%;
      left: 51%;
      opacity: 1;
    }
    50%{
      top: 45%;
      left: 52%;
      opacity: 1;
    }
    75%{
      top: 41%;
      left: 51%;
      opacity: 1;
    }
    100% {
      top: 37%;
      left: 50%;
      opacity: 0;
    }
  }
  
  @keyframes flow-s-m {
    0% {
      top: 53%;
      left: 43%;;
      opacity:0;
    }
    25%{
      top: 49%;
      left: 42.5%;
      opacity: 1;
    }
    50%{
      top: 45%;
      left: 42%;
      opacity: 1;
    }
    75%{
      top: 41%;
      left: 42.5%;
      opacity: 1;
    }
    100% {
      top: 37%;
      left: 43%;
      opacity: 0;
    }
  }
  
  @keyframes flow-m {
    0% {
      top: 53%;
      left: 45%;;
      opacity:0;
    }
    25%{
      top: 48%;
      left: 44.5%;
      opacity: 1;
    }
    50%{
      top: 43%;
      left: 44%;
      opacity: 1;
    }
    75%{
      top: 38%;
      left: 44.5%;
      opacity: 1;
    }
    100% {
      top: 33%;
      left: 45%;
      opacity: 0;
    }
  }
  
  @keyframes flow-s-l {
    0% {
      top: 53%;
      left: 43%;;
      opacity:0;
    }
    25%{
      top: 48%;
      left: 43.5%;
      opacity: 1;
    }
    50%{
      top: 43%;
      left: 44%;
      opacity: 1;
    }
    75%{
      top: 38%;
      left: 43.5%;
      opacity: 1;
    }
    100% {
      top: 33%;
      left: 43%;
      opacity: 0;
    }
  }
  
  
  